.presentation__text h3 {
  width: 55%;
}

/* ----------MAIN------------- */

.steps__union {
  width: 800%;
}

.benefits__img {
  margin-inline-end: 25px;
}
.individual__benefits p {
  max-width: 75%;
}
