.header__head {
  margin-block-end: 100px;
}
.presentation__text p {
  width: 50%;
}

/* ----------MAIN------------- */

main {
  padding: 70px 40px;
}

.description__cards {
  max-width: 31%;
  padding: 10px;
}
