/* ----------MAIN------------- */

main {
  padding: 80px 50px;
}
.main__ourmethod {
  margin-block-end: 40px;
}

.course__article {
  width: 32%;
  height: 400px;
  margin-block-end: 25px;
}
.course__article:hover img {
  opacity: 50%;
  transition: 0.7s;
}
.course__article:hover p {
  opacity: 100%;
  transition: 0.7s;
}
.article__title {
  right: 25px;
  left: 25px;
}
.article__description {
  right: 25px;
  left: 25px;
}
.article__description p {
  opacity: 0%;
}

.main__steps h3 {
  margin-block-end: 60px;
}
.step__img img {
  width: 60px;
}
.step__number {
  width: 36px;
  height: 36px;
  margin: 30px auto;
}
.steps__union {
  top: 18px;
  left: 36px;
  width: 840%;
}

.main__benefits h3 {
  margin-block-end: 50px;
}
