.header__head {
  height: 120px;
  padding-block-start: 70px;
}
.header__presentation {
  padding-block-start: 270px;
}

/* ----------COURSES-HEADER------------- */

.header__batery-course .header__presentation.courses {
  padding-block-start: 300px;
}
.header__piano-course .header__presentation.courses {
  padding-block-start: 300px;
}
.header__bajo-course .header__presentation.courses {
  padding-block-start: 300px;
}
.header__guitar-course .header__presentation.courses {
  padding-block-start: 300px;
}
.header__sing-course .header__presentation.courses {
  padding-block-start: 300px;
}

/* ----------HEADER - CONTACT------------- */

.header__contact .header__head .head__logo {
  top: 180%;
  left: 33%;
}
.header__contact .header__presentation {
  padding-block-start: 250px;
  padding-block-end: 300px;
  padding-inline-end: 80px;
}

/* ----------MAIN------------- */

.cards__texts h3 {
  margin-block-end: 10px;
}

.course__article {
  height: 420px;
}

/* ----------CONTACT-MAIN------------- */

.contact__title {
  margin-inline-end: 20%;
}
