header {
  background-image: url(../assets/images/Guitarra_Elec/GitEle1-g-Efecto-180.jpg);
}
.header__guitar-course {
  background-image: url(../assets/images/Guitarra_Acu/GitAcu4-g_efecto.jpg);
}
.header__bajo-course {
  background-image: url(../assets/images/Bajo/Bajo3-g_efecto.jpg);
}
.header__batery-course {
  background-image: url(../assets/images/Bateria/Bateria3-g_efecto.jpg);
}
.header__electguitar-course {
  background-image: url(../assets/images/Guitarra_Elec/GitEle3-g_efecto.jpg);
}
.header__piano-course {
  background-image: url(../assets/images/Piano/Piano3-g_efecto.jpg);
}
.header__sing-course {
  background-image: url(../assets/images/Canto/Canto1-g_efecto.jpg);
}
.header__head {
  height: 120px;
  padding-block-start: 70px;
}
.header__presentation {
  padding-block-start: 270px;
}

/* ----------MAIN------------- */

.cards__texts h3 {
  margin-block-end: 10px;
}

.course__article {
  height: 420px;
}
