body {
  margin: 0 auto;
  box-shadow: 2px 10px 50px 2px var(--color_secundario);
}

section {
  max-width: 1440px;
  margin: 0 auto;
}

header {
  background-image: url(../assets/images/Guitarra_Elec/GitEle1-g-Efecto-180.jpg);
}
header {
  padding: 50px 50px 180px;
}
.header__head {
  height: 120px;
  margin-block-end: 150px;
}
.presentation__text p {
  width: 40%;
}

/* ----------MAIN------------- */

.cards__texts h3 {
  margin-block-end: 20px;
}

.course__article {
  height: 420px;
}
.article__title {
  right: 15px;
  left: 15px;
}
.article__description {
  top: 60%;
  right: 15px;
  left: 15px;
}

.main__steps h3 {
  margin-block-end: 70px;
}
.step__number {
  margin: 40px auto;
}
.steps__union {
  width: 950%;
}
