.header__presentation {
  text-align: start;
}
.presentation__titles h2 {
  margin: 0;
}

/* ----------MAIN------------- */

.ourmethod__title {
  max-width: 95%;
}
.description__cards {
  max-width: 95%;
}

.steps__union {
  height: 250%;
}
.steps__individual-step p {
  max-width: 75%;
}

.individual__benefits p {
  max-width: 83%;
}
