.head__logo {
  width: 170px;
}
.head__link-courses a {
  font-size: 2rem;
}
.header__presentation {
  text-align: start;
}
.presentation__titles h2 {
  margin: 0;
}
.presentation__button-container {
  transform-origin: left;
}

/* ----------MAIN------------- */

.ourmethod__title {
  max-width: 400px;
  margin: 0 auto 20px;
}
.description__cards {
  max-width: 400px;
  margin: 0 auto 25px;
  padding: 30px;
}
