.head__logo {
  width: 120px;
}
.presentation__text h3 {
  width: 75%;
}

header .presentation__button-container .button {
  margin-inline-start: 0;
}

/* ----------COURSES-HEADER------------- */

.header__presentation.courses h2 {
  max-width: 75%;
}

/* ----------HEADER - WELCOME------------- */

.header__welcome {
  padding-block-end: 20px;
}
.header__welcome .header__presentation {
  width: 80%;
  margin: 50% auto 0;
}

/* ----------MAIN------------- */

section {
  padding: 35px;
}

.description__cards {
  margin-block-start: 30px;
}
.cards__texts {
  width: 80%;
  margin: 0 auto;
}

.courses__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.course__article {
  width: 48%;
  height: 320px;
}

.steps__individual-step {
  justify-content: flex-start;
  margin-block-start: 30px;
}
.step__img {
  margin-inline-end: 10px;
}
.step__number {
  margin-inline-end: 20px;
}
.steps__individual-step p {
  max-width: 78%;
}

.individual__benefits {
  justify-content: flex-start;
}
.benefits__img {
  margin-inline-end: 20px;
}
.individual__benefits p {
  max-width: 87%;
}

/* ----------COURSES-MAIN------------- */

.main__courses .cards__texts {
  width: 80%;
  margin: 0;
}

/* ----------CONTACT-MAIN------------- */

.form__label {
  margin: 0 auto;
}

/* ----------FOOTER------------- */

footer {
  flex-wrap: nowrap;
}

.footer__icon-rights {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
  padding: 20px 0 20px 35px;
  order: 1;
}
.icon-rights__img {
  margin: 0 10px 0 0;
}
.footer__contact {
  justify-content: flex-end;
  flex-wrap: nowrap;
  width: 30%;
  padding: 20px 35px 20px 0;
  order: 2;
}
.contact__social {
  justify-content: flex-end;
  margin-inline-end: 10px;
}
.contact__form {
  text-align: start;
}
