header {
  padding: 20px 30px 70px;
}
.header__head {
  margin-block-end: 40px;
}
.presentation__text p {
  width: 60%;
}

/* ----------MAIN------------- */

section {
  padding: 30px;
}

.description__cards {
  margin-block-start: 30px;
}

.courses__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.course__article {
  width: 48%;
  height: 320px;
}
.article__description {
  top: 50%;
}

.steps__individual-step {
  justify-content: flex-start;
  margin-block-start: 30px;
}
.step__img {
  width: 55px;
  height: 55px;
  margin-inline-end: 20px;
}
.step__number {
  margin-inline-end: 20px;
}
.steps__union {
  height: 260%;
}
.steps__individual-step p {
  max-width: 78%;
}

.individual__benefits {
  justify-content: flex-start;
}
.benefits__img {
  margin-inline-end: 20px;
}
.individual__benefits p {
  max-width: 87%;
}

/* ----------FOOTER------------- */

.footer__icon-rights {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer__icon-rights img {
  margin-inline-end: 10px;
}
