body {
  font-size: var(--p-size-m);
  line-height: calc(var(--p-size-m) * 1.4);
}

h1 {
  font-size: var(--h1-size-m);
  line-height: calc(var(--h1-size-m) * 1.2);
}
h2 {
  font-size: var(--h2-size-m);
  line-height: calc(var(--h2-size-m) * 1.2);
}
h3 {
  font-size: var(--h3-size-m);
  line-height: calc(var(--h3-size-m) * 1.2);
}

.button {
  width: 260px;
  padding: 10px;
  font-size: 1.8rem;
  border-radius: 10px;
}

.header__batery-course {
  background-image: url(../assets/images/Bateria/Bateria_M_C.jpg);
}
.header__electguitar-course {
  background-image: url(../assets/images/Guitarra_Elec/GuitElec_M_C.jpg);
}

.head__logo {
  width: 150px;
}
.head__link-courses a {
  font-size: 2rem;
}
.presentation__titles {
  margin-block-end: 20px;
}
.presentation__text h3 {
  width: 73%;
}
.presentation__button-container {
  margin-block-end: 50px;
}

/* ----------COURSES-HEADER------------- */

.header__electguitar-course section {
  padding-inline-start: 40px;
  padding-inline-end: 40px;
}

.header__presentation.courses h2 {
  max-width: 85%;
}
.header__presentation.courses .second {
  font-size: 2.3rem;
  margin-block-end: 30px;
}
.header__presentation.courses .button {
  margin: 0;
}

/* ----------MAIN------------- */

section {
  padding: 30px 40px;
}

.ourmethod__descriptions {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: auto;
  margin-block-start: 30px;
}
.description__cards {
  width: 33%;
  height: auto;
  margin: 0;
  padding: 5px;
}
.cards__img {
  width: 30%;
  margin: 5px auto;
}
.cards__texts {
  width: 100%;
  margin: 0;
}

.courses__presentation h3 {
  margin-block-end: 10px;
}
.course__article {
  width: 48.5%;
  height: 350px;
}
.article__title {
  right: 20px;
  left: 20px;
}
.article__description {
  right: 20px;
  left: 20px;
}

.main__steps h2 {
  margin-block-end: 30px;
}
.steps__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.steps__individual-step {
  display: block;
  width: 24%;
  margin: 0;
  padding: 0;
}
.step__img {
  width: 70px;
  height: 70px;
  margin: 0 auto;
}
.step__number {
  width: 30px;
  height: 30px;
  margin: 15px auto;
  border-radius: 50%;
}
.step__number h3 {
  font-weight: 600;
}
.steps__union {
  top: 15px;
  left: 30px;
  width: 581%;
  height: 1px;
}
.steps__individual-step p {
  max-width: 100%;
  font-weight: 500;
  text-align: center;
}

.benefits__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.individual__benefits {
  width: 48%;
}

.main__video {
  padding-block-start: 10px;
}
.main__video h2 {
  margin-block-end: 30px;
}
.main__video video {
  max-width: 759px;
}

/* ----------COURSES-MAIN------------- */

.main__courses section {
  padding-inline-start: 40px;
  padding-inline-end: 40px;
}

.main__courses .ourmethod__title p {
  font-size: 1.7rem;
}
.main__courses .ourmethod__descriptions {
  margin-block-start: 20px;
}
.main__courses .description__cards {
  display: block;
  margin-block-start: 0;
  text-align: center;
}
.main__courses .cards__img {
  width: 100%;
  max-width: 150px;
  margin: 0 auto;
}
.main__courses .cards__texts {
  width: 100%;
}

.main__courses .main__benefits .button {
  width: 330px;
}

.include__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.individual__include {
  width: 49%;
}
.individual__include p {
  width: 100%;
}

.musicbook__description {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 700px;
  width: 80%;
  margin: 0 auto;
}
.musicbook__img {
  max-width: 150px;
  width: 40%;
  margin-block-end: 0;
}
.musicbook__img img {
  width: 100px;
}
.musicbook__description p {
  width: 70%;
  margin: 0;
  text-align: start;
}

.warranty__description {
  max-width: 700px;
  width: 75%;
  margin: 0 auto 40px;
}
.warranty__img {
  max-width: 140px;
  margin-inline-end: 20px;
}
.warranty__description p {
  width: 75%;
}
.main-courses__warranty .button {
  width: 330px;
}

.main-courses__faqs h2 {
  margin-block-end: 30px;
}
.faqs__faq-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.individual__faq {
  width: 49%;
}
.faq__question {
  max-width: 91%;
}

/* ----------FOOTER------------- */

.footer__icon-rights {
  padding: 20px 0 20px 40px;
}
.icon-rights__img {
  width: 150px;
}
.footer__contact {
  width: 25%;
  padding: 20px 40px 20px 0;
}
