header {
  padding: 40px 40px 80px;
  background-image: url(../assets/images/Guitarra_Elec/GitEle1-m-Efecto-180.jpg);
}
.header__head {
  margin-block-end: 50px;
}
.head__link-courses a {
  font-size: 2.5rem;
}
.presentation__titles h1 {
  font-size: 4.5rem;
}
.presentation__titles h2 {
  font-size: 2.3rem;
}
.presentation__text p {
  width: 55%;
  font-weight: 700;
}

/* ----------MAIN------------- */

main {
  padding: 30px 40px;
}
.ourmethod__title {
  max-width: 70%;
}
.ourmethod__title h2 {
  font-size: 3rem;
}
.ourmethod__title p {
  font-size: 1.5rem;
  font-weight: 500;
}
.ourmethod__descriptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
}
.description__cards {
  max-width: 220px;
  height: 290px;
  padding: 15px;
}
