body {
  font-size: var(--p-size-m);
  line-height: calc(var(--p-size-m) * 1.4);
}

header {
  padding: 40px 40px 80px;
  background-image: url(../assets/images/Guitarra_Elec/GitEle1-m-Efecto-180.jpg);
}
.header__head {
  margin-block-end: 50px;
}
.head__logo {
  width: 150px;
}
.head__link-courses a {
  font-size: 2.2rem;
}
.presentation__titles h1 {
  font-size: var(--h1-size-m);
  line-height: calc(var(--h1-size-m) * 1.2);
}
.presentation__titles h2 {
  font-size: var(--h2-size-m);
  line-height: calc(var(--h2-size-m) * 1.2);
}
.presentation__text p {
  width: 55%;
  font-weight: 700;
}

/* ----------MAIN------------- */

main {
  padding: 50px 40px;
}
.main__ourmethod {
  margin-block-end: 30px;
}
.ourmethod__title h3 {
  font-size: var(--h3-size-m);
  line-height: calc(var(--h3-size-m) * 1.4);
}
.ourmethod__descriptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
}
.description__cards {
  max-width: 32%;
  height: auto;
  margin: 0;
  padding: 5px;
}
.cards__texts h3 {
  font-size: var(--h3-size-m);
  line-height: calc(var(--h3-size-m) * 1.2);
}

.courses__presentation {
  margin-block-end: 30px;
}
.courses__presentation h3 {
  margin-block-end: 30px;
  font-size: var(--h3-size-m);
  line-height: calc(var(--h3-size-m) * 1.2);
}
.course__article {
  width: 48.5%;
  height: 350px;
}
.article__title {
  right: 20px;
  left: 20px;
}
.article__title h3 {
  font-size: var(--h3-size-m);
  line-height: calc(var(--h3-size-m) * 1.2);
}
.article__description {
  right: 20px;
  left: 20px;
}

.main__steps h3 {
  font-size: var(--h3-size-m);
  line-height: calc(var(--h3-size-m) * 1.2);
}
.steps__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.steps__individual-step {
  display: block;
  width: 24%;
  margin: 0;
  padding: 0;
}
.step__img {
  width: 100%;
}
.step__img img {
  width: 55px;
}
.step__number {
  width: 30px;
  height: 30px;
  margin: 15px auto;
  background-color: var(--color_secundario);
  border-radius: 50%;
}
.steps__union {
  top: 15px;
  left: 30px;
  width: 585%;
  height: 1px;
}
.steps__individual-step p {
  max-width: 100%;
  text-align: center;
}
