.header__head {
  padding-block-start: 40px;
}
.presentation__text h3 {
  width: 65%;
}
.presentation__text {
  margin-block-end: 50px;
}

/* ----------MAIN------------- */

.description__cards {
  max-width: 300px;
}

.course__article {
  width: 32%;
  height: 360px;
}
.article__description {
  top: 55%;
}

.steps__individual-step {
  width: 23%;
}
.steps__union {
  width: 700%;
}
