.header__head {
  padding-block-start: 40px;
}
.presentation__text h3 {
  width: 65%;
}
.presentation__text {
  margin-block-end: 50px;
}

/* ----------COURSES-HEADER------------- */

.header__presentation.courses h2 {
  max-width: 70%;
}

/* ----------HEADER - CONTACT------------- */

.header__contact .header__head {
  width: 52%;
}
.header__contact .header__presentation {
  width: 52%;
  padding-block-start: 300px;
}

/* ----------MAIN------------- */

.description__cards {
  max-width: 335px;
}

.course__article {
  width: 32%;
  height: 360px;
}

.steps__individual-step {
  width: 23%;
}
.steps__union {
  width: 700%;
}

/* ----------COURSES-MAIN------------- */

.main__courses .description__cards {
  width: 32%;
}

.playlist__container {
  max-width: 850px;
  margin: 0 auto;
}

.include__container {
  justify-content: space-between;
  width: 90%;
  margin: 20px auto 40px;
}
.individual__include {
  width: 45%;
}

.musicbook__description {
  width: 65%;
}
.musicbook__description p {
  width: 75%;
}

.warranty__description {
  width: 65%;
  margin: 0 auto 30px;
}

/* ----------CONTACT-MAIN------------- */

.contact__title {
  margin-inline-start: 15%;
}
