:root {
  --color_primario: #1d1c1a;
  --color_secundario: #fabb31;
  --color_claro: white;
  --Fuente1: "Roboto", sans-serif;
  --Fuente2: "Lato", sans-serif;
  --h1-size-p: 3.5rem;
  --h1-size-m: 4.2rem;
  --h1-size-g: 5.5rem;
  --h2-size-p: 2.6rem;
  --h2-size-m: 3.1rem;
  --h2-size-g: 4rem;
  --h3-size-p: 2rem;
  --h3-size-m: 2.3rem;
  --h3-size-g: 2.8rem;
  --h4-size-p: 1.8rem;
  --h4-size-m: 2rem;
  --h4-size-g: 2.5rem;
  --p-size-p: 1.5rem;
  --p-size-m: 1.6rem;
  --p-size-g: 1.8rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  background-color: var(--color_primario);
}

body {
  font-size: var(--p-size-p);
  font-family: var(--Fuente1);
  line-height: calc(var(--p-size-p)*1.4);
}

header {
  width: 100%;
  height: auto;
  padding: 10px 20px 50px;
  color: var(--color_claro);
  background-image: url(../assets/images/Guitarra_Elec/GitEle1-p-Efecto-180.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.header__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  margin-block-end: 30px;
}
.head__logo {
  width: 120px;
}
.head__logo img {
  width: 100%;
}
.head__link-courses a {
  color: var(--color_secundario);
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: none;
  opacity: 0.7;
}
.head__link-courses a:hover {
  transition: 0.7s;
  opacity: 1;
}
.header__presentation {
  width: 100%;
  height: auto;
  text-align: center;
}
.presentation__titles {
  margin-block-end: 20px;
}
.presentation__titles h1 {
  margin-block-end: 15px;
  font-size: var(--h1-size-p);
  line-height: calc(var(--h1-size-p)*1.2);
}
.presentation__titles h2 {
  width: 85%;
  margin: 0 auto;
  font-size: var(--h2-size-p);
  line-height: calc(var(--h2-size-p)*1.2);
}
.presentation__text {
  margin-block-end: 30px;
}
.presentation__text p {
  font-weight: 500;
}
.presentation__button-container {
  transform-origin: center;
  opacity: 0.7;
}
.presentation__button-container:hover {
  transition: 0.7s;
  opacity: 1;
}
.presentation__button {
  display: inline;
  width: 200px;
  margin: 20px auto;
  padding: 12px;
  color: var(--color_primario);
  font-size: 1.6rem;
  font-weight: 700;
  background-color: var(--color_secundario);
  border-radius: 20px;
  text-decoration: none;
}

/* ----------MAIN------------- */

main {
  width: 100%;
  height: auto;
  padding: 30px 20px;
}
.main__ourmethod {
  width: 100%;
  height: auto;
  text-align: start;
  color: var(--color_claro);
}
.ourmethod__title {
  margin-block-end: 35px;
}
.ourmethod__title h2 {
  margin-block-end: 10px;
  font-size: var(--h2-size-p);
  line-height: calc(var(--h2-size-p)*1.2);
}
.ourmethod__title h4 {
  font-size: var(--h4-size-p);
  line-height: calc(var(--h4-size-p)*1.4);
}
.ourmethod__descriptions {
  width: 100%;
  height: auto;
}
.description__cards {
  width: 100%;
  height: auto;
  margin-block-end: 25px;
  text-align: start;
  border-radius: 10px;
}
.cards__img {
  width: 25%;
  max-width: 60px;
  margin-block-end: 15px;
}
.cards__img img {
  width: 100%;
}
.cards__texts {
  width: 100%;
}
.cards__texts h3 {
  margin-block-end: 15px;
  font-size: var(--h3-size-p);
  line-height: calc(var(--h3-size-p)*1.2);
}
