:root {
  --color_primario: #1d1c1a;
  --color_secundario: #fabb31;
  --color_claro: white;
  --Fuente1: "Roboto Condensed", sans-serif;
  --h1-size-p: 3.5rem;
  --h1-size-m: 4.2rem;
  --h1-size-g: 6.5rem;
  --h2-size-p: 2.6rem;
  --h2-size-m: 3.1rem;
  --h2-size-g: 3.2rem;
  --h3-size-p: 2rem;
  --h3-size-m: 2.3rem;
  --h3-size-g: 2.5rem;
  --h4-size-p: 1.8rem;
  --h4-size-m: 2rem;
  --h4-size-g: 2.5rem;
  --p-size-p: 1.5rem;
  --p-size-m: 1.6rem;
  --p-size-g: 1.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  background-color: var(--color_primario);
}

body {
  font-size: var(--p-size-p);
  font-family: var(--Fuente1);
  line-height: calc(var(--p-size-p) * 1.4);
  font-weight: 400;
}

h1 {
  font-size: var(--h1-size-p);
  line-height: calc(var(--h1-size-p) * 1.2);
  font-weight: 700;
}
h2 {
  font-size: var(--h2-size-p);
  line-height: calc(var(--h2-size-p) * 1.2);
  font-weight: 700;
}
h3 {
  font-size: var(--h3-size-p);
  line-height: calc(var(--h3-size-p) * 1.2);
  font-weight: 500;
}

.button {
  padding: 12px;
  color: var(--color_primario);
  font-size: 1.6rem;
  font-weight: 700;
  background-color: var(--color_secundario);
  border-radius: 20px;
  text-decoration: none;
}

hr {
  border: 1px solid var(--color_secundario);
}
.division-intermediate {
  max-width: 1440px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: auto;
  padding: 10px 20px 50px;
  color: var(--color_claro);
  background-image: url(../assets/images/Guitarra_Elec/GitEle1-p-Efecto-180.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.header__guitar-course {
  background-image: url(../assets/images/Guitarra_Acu/GitAcu2-p_efecto.jpg);
}
.header__bajo-course {
  background-image: url(../assets/images/Bajo/Bajo3-p_efecto.jpg);
}
.header__batery-course {
  background-image: url(../assets/images/Bateria/Bateria3-p_efecto.jpg);
}
.header__electguitar-course {
  background-image: url(../assets/images/Guitarra_Elec/GitEle3-p_efecto.jpg);
}
.header__piano-course {
  background-image: url(../assets/images/Piano/Piano3-p_efecto.jpg);
}
.header__sing-course {
  background-image: url(../assets/images/Canto/Canto1-p_efecto.jpg);
}
.header__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  margin-block-end: 30px;
}
.head__logo {
  width: 120px;
}
.head__logo img {
  width: 100%;
}
.head__link-courses a {
  color: var(--color_secundario);
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: none;
  opacity: 1;
}
.head__link-courses a:hover {
  transition: 0.7s;
  opacity: 0.7;
}
.header__presentation {
  width: 100%;
  height: auto;
  text-align: center;
}
.header__presentation.guitar-course {
  text-align: start;
}
.presentation__titles {
  margin-block-end: 20px;
}
.presentation__titles h1 {
  margin-block-end: 15px;
}
.presentation__titles h2 {
  width: 85%;
  margin: 0 auto;
}
.presentation__titles h2 span {
  color: var(--color_secundario);
}
.presentation__text {
  margin-block-end: 30px;
}
.presentation__text li {
  margin-block-end: 10px;
  list-style: none;
}
.presentation__text p {
  font-weight: 500;
}
.presentation__button-container {
  transform-origin: center;
  opacity: 1;
}
.presentation__button-container:hover {
  transition: 0.7s;
  opacity: 0.7;
}
.presentation__button {
  display: inline;
  width: 200px;
  margin: 20px auto;
}

/* ----------MAIN------------- */

main {
  width: 100%;
  height: auto;
  padding: 30px 20px;
}
.main__ourmethod {
  width: 100%;
  height: auto;
  margin-block-end: 50px;
  text-align: center;
  color: var(--color_claro);
}
.ourmethod__title {
  margin: 0 auto 35px;
}
.ourmethod__title h3 {
  color: var(--color_secundario);
}
.ourmethod__descriptions {
  width: 100%;
  height: auto;
}
.description__cards {
  width: 100%;
  height: auto;
  margin-block-end: 25px;
  text-align: center;
  border-radius: 10px;
}
.cards__img {
  width: 25%;
  max-width: 60px;
  margin: 15px auto;
}
.cards__img img {
  width: 100%;
}
.cards__texts {
  width: 100%;
}
.cards__texts h3 {
  margin-block-end: 15px;
  color: var(--color_secundario);
}

.main__courses {
  width: 100%;
  height: auto;
  margin-block-start: 50px;
  margin-block-end: 50px;
  color: var(--color_claro);
  text-align: center;
}
.courses__presentation {
  width: 100%;
  height: auto;
  margin-block-end: 20px;
}
.courses__presentation h3 {
  margin-block-end: 20px;
  color: var(--color_secundario);
}
.courses__presentation strong {
  color: var(--color_secundario);
}
.courses__container {
  width: 100%;
  height: auto;
}
.course__article {
  position: relative;
  color: var(--color_claro);
  width: 100%;
  height: 300px;
  margin-block-end: 20px;
  padding: 20px;
  overflow: hidden;
  text-align: center;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 0 var(--color_secundario);
}
.article__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
.article__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.article__title {
  position: absolute;
  top: 10%;
  right: 15px;
  left: 15px;
}
.article__description {
  position: absolute;
  top: 55%;
  right: 15px;
  left: 15px;
}
.article__description p {
  margin-block-end: 20px;
  font-weight: 700;
  opacity: 100%;
}
.article__description a {
  width: 150px;
  opacity: 90%;
}
.article__description a:hover {
  color: var(--color_secundario);
  background-color: var(--color_primario);
  opacity: 100%;
  transition: 0.3s;
}

.main__steps {
  width: 100%;
  height: auto;
  margin-block-start: 50px;
  margin-block-end: 50px;
  color: var(--color_claro);
  text-align: center;
}
.main__steps h3 {
  margin-block-end: 20px;
  color: var(--color_secundario);
}
.steps__container {
  width: 100%;
  height: auto;
}
.steps__individual-step {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  margin-block-end: 20px;
}
.step__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
}
.step__img img {
  width: 100%;
}
.step__number {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: var(--color_secundario);
  border-radius: 50%;
}
.steps__individual-step .step__number h3 {
  margin: 0;
  color: var(--color_primario);
}
.steps__union {
  position: absolute;
  top: 25px;
  left: center;
  z-index: 0;
  width: 1px;
  height: 320%;
  border: 0.1px solid var(--color_secundario);
}
.steps__individual-step p {
  max-width: 70%;
  text-align: start;
}

.main__benefits {
  width: 100%;
  height: auto;
  margin-block-start: 50px;
  margin-block-end: 50px;
  color: var(--color_claro);
  text-align: center;
}
.main__benefits h3 {
  margin-block-end: 20px;
  color: var(--color_secundario);
}
.benefits__container {
  width: 100%;
  height: auto;
}
.individual__benefits {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 20px;
}
.benefits__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}
.benefits__img img {
  width: 50px;
}
.individual__benefits p {
  max-width: 80%;
  text-align: start;
}

/* ----------CONTACT-MAIN------------- */

.contact__main {
  width: 100%;
  height: auto;
}
.main__contact-section {
  width: 100%;
  height: auto;
  text-align: center;
}
.contact__title {
  margin-block-end: 30px;
}
.contact__title h2 {
  color: var(--color_secundario);
}
.contact__form {
  width: 100%;
  height: auto;
  margin: 0 auto;
  color: var(--color_claro);
  text-align: start;
}
.form__label {
  width: 100%;
  height: 80px;
}
.form__label label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.form__label span {
  width: 100%;
  margin-block-end: 5px;
  text-align: start;
}
.form__label input {
  max-width: 500px;
  width: 100%;
  height: 30px;
}

/* ----------FOOTER------------- */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
}

.contact__form a {
  color: var(--color_secundario);
  text-decoration: none;
}
