:root {
  --color_primario: #1d1c1a;
  --color_secundario: #fabb31;
  --color_claro: white;
  --Fuente1: "Roboto", sans-serif;
  --Fuente2: "Lato", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}
